---
name: Release Go
on:
  workflow_call:
    inputs:
      aqua_version:
        required: true
        type: string
      aqua_policy_allow:
        required: false
        type: string
      aqua_policy_config:
        required: false
        type: string
      go-version:
        required: false
        type: string
      go-version-file:
        required: false
        type: string
      go_licenses_package:
        required: false
        type: string

permissions: {}

env:
  AQUA_POLICY_CONFIG: ${{ inputs.aqua_policy_config }}
  AQUA_LOG_COLOR: always

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    permissions:
      contents: read
    steps:
      - run: |
          echo "::error:: Either go-version or go-version-file must be set."
          exit 1
        if: inputs.go-version == '' && inputs.go-version-file == ''
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{inputs.go-version}}
          go-version-file: ${{inputs.go-version-file}}
          cache: true

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: ${{inputs.aqua_version}}
          policy_allow: ${{inputs.aqua_policy_allow}}

      - name: remove changes
        # Sometimes it is failed to release by goreleaser due to changes of go.sum
        run: git checkout -- .
      - name: fetch tags to release
        run: git fetch --tags -f
      - name: Unshallow
        run: git fetch --prune --unshallow
      - run: goreleaser -v
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - run: go-licenses --help
      - run: go-licenses save "$PACKAGE" --save_path third_party_licenses
        env:
          PACKAGE: ${{ inputs.go_licenses_package && inputs.go_licenses_package || format('./cmd/{0}', github.event.repository.name) }}
      - run: mkdir -p third_party_licenses/go
      - run: |
          version=$(go env GOVERSION)
          curl -Lq -o third_party_licenses/go/LICENSE --retry 5 "https://raw.githubusercontent.com/golang/go/refs/tags/go${version#go}/LICENSE"

      - name: Run GoReleaser
        run: goreleaser release --skip publish --clean
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist
          path: |
            dist/*.tar.gz
            dist/*.zip
            dist/*.txt
            dist/*.sbom.json
            dist/*.jsonl

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: checksum
          path: |
            dist/*.txt

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: goreleaser
          path: |
            dist/homebrew
            dist/scoop
            dist/winget

      - name: Generate hashes
        id: hash
        run: |
          # sha256sum generates sha256 hash for all artifacts.
          # base64 -w0 encodes to base64 and outputs on a single line.
          # sha256sum artifact1 artifact2 ... | base64 -w0
          echo "hashes=$( (find dist -name "*.tar.gz" && find dist -name "*.zip") | xargs sha256sum | base64 -w0)" >> "$GITHUB_OUTPUT"

  cosign:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    needs: [build]
    permissions:
      id-token: write # required for cosign
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: ${{inputs.aqua_version}}
          policy_allow: ${{inputs.aqua_policy_allow}}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: checksum
          path: dist
      - run: cosign version
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - run: |
          checksum=$(find dist -name "*checksums.txt")

          # To keep the compatibility with older cosign versions
          cosign sign-blob -y \
            --use-signing-config=false \
            --output-signature "${checksum}.sig" \
            --output-certificate "${checksum}.pem" \
            --oidc-provider github \
            "$checksum"

          cosign sign-blob "$checksum" \
            -y \
            --bundle "${checksum}.bundle" \
            --oidc-provider github

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cosign
          path: |
            dist/*.bundle
            dist/*.sig
            dist/*.pem

  attestation:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    needs: [cosign]
    permissions:
      id-token: write # required for GitHub Artifact Attestations
      attestations: write # required for GitHub Artifact Attestations
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: cosign
          path: dist
      - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: |
            dist/*.tar.gz
            dist/*.zip
            dist/*.txt
            dist/*.pem
            dist/*.sig
            dist/*.bundle
            dist/*.sbom.json

  provenance:
    needs: [build]
    permissions:
      actions: read # Needed for detection of GitHub Actions environment.
      id-token: write # Needed for provenance signing and ID
      contents: write # Needed for release uploads
    # slsa-framework/slsa-github-generator doesn't support pinning version
    # > Invalid ref: 68bad40844440577b33778c9f29077a3388838e9. Expected ref of the form refs/tags/vX.Y.Z
    # https://github.com/slsa-framework/slsa-github-generator/issues/722
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      upload-assets: false

  release:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    needs: [cosign, provenance]
    permissions:
      contents: write # required to create a release
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: cosign
          path: dist
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ${{ needs.provenance.outputs.provenance-name }}
          path: dist

      - run: ls dist
      - run: gh release create -R "$GITHUB_REPOSITORY" "$GITHUB_REF_NAME" -p dist/*
        env:
          GITHUB_TOKEN: ${{ github.token }}
